{% load staticfiles %}

<html>
    <head>
        <title>Tethys Metadata</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

		<!-- Optional theme -->
		<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
		<!--google font
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald' type='text/css'> -->
		<!--my css-->
		<link rel="stylesheet" href="{% static 'css/tethys.css' %}">
		
		<!--jq-->
		<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
		<!--myjs-->
		<script src="{% static 'js/tethys.js' %}"></script>
    </head>
    <body>
		<div class="page-header">
			<h1><a href="/tethys">Tethys Metadata</a></h1>
			<h4>v2.4</h4>
		</div>
		
		<div class="content container">
			<div class="row">
				<div class="col-md-4">
					{% block content %}
					{% endblock %}
				</div>
				<div class="col-md-8">
					{% block server_content %}
					{% endblock %}
				</div>
			</div>
			<div class="row">
			
			</div>
		</div>
			
    </body>
</html>