{% extends 'tethys/base.html' %}

{% block content %}

		<div class="collection">
			<h1>
				<a class ='collection-name' "href="">{{ container.name }}</a>
				<a class="btn btn-default refresh-btn" id="refresh-{{container.name}}" href=""><span class="glyphicon glyphicon-refresh"></span></a>
			</h1>
			<div class="date-detail">
				<p id="updated-{{container.name}}">updated: {{ container.last_updated|date:"F j, Y" }}, {{ container.last_updated|time:'H:i' }}</p>
			</div>
			<b>Total: <span class='count' id="count-{{container.name}}">{{container.count}}</span></b>
			<br></br>
			<div class = 'row'>
				<div class='col-md-4'>
					<input id="text-filter" type="text"/>
				</div>
			</div>
			<div class='row'>
				<div class='col-md-7'>
					<select multiple class='form-control' id = "select">
					{%for document in container.document_set.all%}
					<option>{{document.name}}</option>
					{%endfor%}
					</select>
				</div>
			</div>
		</div>

{%endblock%}

{%block server_content %}
<iframe class="server-frame" name="frame-{{container.name}}" id="results">

</iframe>
{%endblock%}
