{% load staticfiles %}
<html>
    <head>
		<title>Document Viewer</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'css/XMLDisplay.css' %}">
		<script type="text/javascript" src="{% static 'js/XMLDisplay.js' %}"></script>
	</head>
	
	<body>
		<div id="XMLHolder"> </div>
		<script>LoadXML('XMLHolder','http://{{server}}:{{port}}//{{collection}}/?DocId={{doc_name}}')</script>
	</body>
</html>