{% load staticfiles %}
<html>
    <head>
		<title>Document Viewer</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

		<!-- Optional theme -->
		<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/XMLDisplay.css' %}">
		<script type="text/javascript" src="{% static 'js/XMLDisplay.js' %}"></script>
	</head>
	
	<body>
		<div id="results"> </div>
		<div id="XMLHolder"> </div>
		<script>LoadXML('XMLHolder','http://{{server}}:{{port}}//{{collection}}/?DocId={{doc_name}}')</script>
	</body>
</html>