@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Oswald-Regular.ttf') format('truetype'),
	   url('../fonts/Oswald-Regular.woff2') format('woff2');
  src: local('../fonts/Oswald-Regular.ttf') format('truetype');
  
}





.page-header {
    background-color: #3CE8D7;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active  {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
	
}

.content {
    margin-left: 24px;
}

h1, h2, h3, h4 {
    font-family: 'Oswald';
}

.page-header h4, .page-header h1{
	color:ffffff;
	display:inline;
}
.page-header h4{
	float:right;
}

.date-list {
    color: #828282;
	margin-left:72px;
}

.doc-list {
    padding: 0;
    list-style-type: none;
}

.date-detail{
	color: #828282;
	
}
.save {
    float: right;
}
.refresh-btn{
	margin-left:20px
}

body {
	background-color:#FCFCFC;
}

/*
.post-form textarea, .post-form input {
    width: 100%;
}
*/

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}



.container {
    margin-bottom: 70px;
	
}

.container h1 a, .container h1 a:visited {
    color: #212F80;
}

h1 .collection-name, h1 .count{
	
	font-size:28px;
}

.server-frame{
	display:inline;
	overflow: hidden;
	float:right;
	border-left:2px #BCD0E3 groove;
	border-top: none;
	border-right:none;
	border-bottom:none;
	width:100%;
	height:80%;
	
}