@charset "utf-8";
/* CSS Document */
.Utility {
		color: black;
}	
.NodeName {
	font-weight:bold;
	color: #0F35A8;	
}
.AttributeName 
{
	font-weight:bold;
	color: black;
}
.AttributeValue
{
	color:blue;
}
.NodeValue
{
	color: black;
}
.Element {
	border-left-color:#20D498;
	border-left-style:solid;
	padding-top:0px;
	margin-top:10px;
}
.Clickable {	
	font-weight:900;
	font-size:large;
	color: #0F35A8;	
	cursor:pointer;

	vertical-align:middle;
}